@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(148,163,184,.35) transparent;
}
